# Ignore node_modules and build output
node_modules
.next
out
dist

# Ignore version control files
.git
.gitignore

# Ignore Docker files themselves
Dockerfile
.dockerignore

# Misc
npm-debug.log
.env
